@import url('https://fonts.cdnfonts.com/css/meticula');
@font-face {
    font-family: 'MikelaLight';
    src: url(fonts/MikelaLight.ttf) format('TrueType');
}
@font-face {
    font-family: 'Itc Avant Garde Gothic Lt Demi';
    src: url(fonts/itc-avant-garde-gothic-lt-demi.ttf) format('TrueType');
}

:root {
    --main-color: #8E1B20;
    --background-color: #F5F5F5;
    --title-color: #EC6200;
    --text-color1: #F5F5F5;
    --text-color2: #202020;
    --text-putih: #F5F5F5;
}

.dark-theme {
    --main-color: #20223b;
    --background-color: #2a2d4e;
    --title-color: #EC6200;
    --text-color1: #202020;
    --text-color2: #F5F5F5;
    --text-putih: #F5F5F5;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #F5F5F5;
    border-radius: 20px;
}

body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
    right: 0;
    left: 0;
}   

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
    color: var(--text-color1);
    position: fixed;
    top: 0;
    z-index: 1;
}

.menu-navbar {
    display: flex;
}

.menu-navbar li {
    display: inline;
}

.navbar-link {
    color: var(--text-putih);
    margin: 0 20px;
    font-size: 15px;
    font-family: 'Meticula', sans-serif;
    transition: all 0.4s;
}

#active {
    color: var(--title-color);
    background-color: var(--background-color);
    border-radius: 50px;
    padding: 10px 25px;
}

.navbar-link:hover {
    color: var(--title-color);
    background-color: var(--background-color);
    border-radius: 50px;
    padding: 10px 25px;
}

.navbar-link::after {
    content: '';
    display: block;
    width: auto;
    height: 4px;
    background: #661418;
    position: absolute;
    left: 0;
    bottom: -20px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.navbar-link:hover::after {
    opacity: 1;
}

a,
.button .navbar-item {
    text-decoration: none;
    color: unset;
}

.buy-ham-toggle {
    display: flex;
    width: 228px;
    margin: 0;
    justify-content: flex-end;
}

.buy-now {
    margin-left: auto;
    align-self: center;
    color: var(--text-putih);
    padding: 10px;
    margin-left: auto;
}

.buy-now:hover {
    color: var(--title-color);
    background-color: var(--background-color);
    border-radius: 100%;
    padding: 10px;
    transition: all 0.4s;   
}

#buy {
    cursor: pointer;
}

.darkmode-toggle {
    color: var(--text-putih);
    border-radius: 100px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 2px;
    align-self: center;
}

#icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: var(--text-putih);
}

.hamburger {
    display: none;
    margin-left: auto;
}

.home {
    width: auto;
    max-width: auto;
    height: auto;
}

.std1 {
    display: block;
    filter: brightness(50%);
}

.std2 {
    display: none;
}

.logomerch {
    display: flex;
    align-items: center;
}

.logomerch h {
    font-family: 'MikelaLight', sans-serif;
    font-size: 30px;
    color: var(--title-color);
    text-align: center;
    margin-left: 20px;
}

.border-content h1 {
    font-family: 'MikelaLight', sans-serif;
    font-size: 75px;
    color: var(--title-color);
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    /* -webkit-text-stroke: 0.1px white; */
}

.jersey {
    display: flex;
}

.main-content {
    width: auto;
    height: auto;
    left: 0;
    right: 0;
}

.merchandise {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.border-content {
    background-color: var(--main-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}   

.border-content p {
    font-family: meticula, sans-serif;
    font-size: 25px;
    color: var(--text-putih);
    text-align: center;
    align-self: center;
    margin: 0;
}

.about-content p {
    font-family: 'Itc Avant Garde Gothic Lt Demi', sans-serif;
    font-size: 20px;
    color: var(--text-color2);
    text-align: justify;
    padding: 0 100px;
}

.about-content h1 {
    font-family: 'MikelaLight', sans-serif;
    font-size: 75px;
    color: var(--title-color);
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    /* -webkit-text-stroke: 0.1px white; */
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 760px;
    background-color: var(--background-color);
}   

.about-image {
    margin: 0;
    width: 50%;     
    height: 760px;
}

footer {
    display: flex;
    background-color: var(--main-color);
    color: var(--background-color);
    text-align: center;
    position: absolute;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}



.footer-bottom {
    padding-top: 35px;
}

.footer-bottom p {
    font-family: 'Meticula', sans-serif;
    font-size: 20px;
    color: var(--text-putih);
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-sosmed {
    padding-top: 10px;
    color: var(--text-putih);
    align-self: center;
}

@media only screen and (max-width: 1320px) {
    .navbar {
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    .navbar {
        padding: 0 25px;
        font-size: 10px;
    }

    .about-image {
        display: none;
     }
 
}
@media only screen and (max-width:900px) {
    .hamburger {
        display: block;
        cursor: pointer;
        background-color: var(--main-color);
        border: transparent;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: var(--text-putih);
        margin: 6px 0;
    }

    .ham {
        width: 30px;
        height: 30px;
        align-self: center;
    }

    .menu-navbar.active {
        height: 150px;
    }

    .menu-navbar {
        flex-direction: column;
        position: absolute;
        height: 0;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--main-color);
        transition: 0.2s;
        overflow: hidden;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 20px auto 0 auto;
        text-align: center;
        transition: all 0,5s;
        opacity: 0;
    }

    .menu-navbar.active ul {
        opacity: 1;
    }

    .navbar-link {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 786px) {
    
    .navbar {
        width: 100%;
    }

    .buy-ham-toggle {
        order: 3;
        width: auto;
    }

    .logomerch h {
        font-size: 20px;
    }

    .logomerch a img {
        width: 40px;
        height: auto;
    }

    #menu-navbar {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: auto;
        background: var(--main-color);
        transition: 0.2s;
    }

    .about-content p {
        font-family: 'Itc Avant Garde Gothic Lt Demi', sans-serif;
        font-size: 20px;
        color: var(--text-color2);
        text-align: justify;
    }

    .about {
        height: 547px;
    }   

    .footer-bottom p {
        font-size: 15px;
        align-self: center;
        padding: 10px 0;
    }

    footer {
        width: 100%;
    }

    /* .std1 {
        display: non;
    }

    .jersey {
        display: non;
    } */

    
}

@media only screen and (max-width: 600) {
    .navbar {
        width: auto;
        max-width: 540px;
        padding: 0;
    }
    
    .border-content h1 {
        display: none;
    }

    footer {
        width: 100%;
    }
}

@media only screen and (max-width: 486px) {
    .navbar {
        width: 100%;
    }

    .darkmode-toggle {
        margin: 20px;
    }
    
    .about {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 547px;
        background-color: var(--background-color);
        color: var(--background-color);
    }   

    .about-image {
        display: none;
    }

    .border-content p {
        font-size: 15px;
        padding: 20px 0;
    } 

    .border-content h1 {
        display: none;
    }

    .about-content p {
        font-size: 15px;
        text-align: justify;
        padding: 0 40px;
        margin: 0;
    }

    footer {
        width: auto;
    }
}
